@{
    ViewData["Title"] = "Cobrar";
}

@section Estilos {
    <style>
        input[type=checkbox] {
            width: 22px;
            height: 22px;
            cursor: pointer;
        }
    </style>
}
<div class="row mt-4">
    <div class="col-sm-6">
        <div class="card cardInfo">
            <div class="card-header">
                <i class="fa-solid fa-file-invoice"></i>
                Detalle
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" id="tbDetalle">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nro Cuota</th>
                                        <th>Fecha Pago</th>
                                        <th>Monto Cuota</th>
                                        <th>Estado</th>
                                        <th>Fecha Cancelado</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="mb-3">
                            <label for="cboMetodoPago" class="form-label">Método de Pago:</label>
                            <select class="form-select" id="cboMetodoPago">
                                <option value="Efectivo">Efectivo</option>
                                <option value="Tarjeta">Tarjeta</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" id="divTarjeta" style="display: none;">
                    <div class="col-sm-12">
                        <div class="mb-3">
                            <label for="txtNumeroTarjeta" class="form-label">Número de Tarjeta:</label>
                            <input type="text" class="form-control" id="txtNumeroTarjeta" autocomplete="off" pattern="\d*" title="Por favor ingrese solo números">
                            <div class="invalid-feedback">
                                Por favor ingrese un número de tarjeta válido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-end">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label for="txtTotalaPagar" class="form-label">Total a pagar:</label>
                            <input type="text" class="form-control data-in" id="txtTotalaPagar" autocomplete="off" disabled>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <button class="btn btn-warning" id="btnRegistrarPago"><i class="fa-solid fa-money-bill-1"></i> Registrar pago</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/views/cobrar.js"></script>

}